/* Start Screen */
.slideshow {
  position: relative;
  width: 270px;  /* adjust to your image size */
  height: 270px;
  margin: 40px auto;
  perspective: 1000px;
}

.slideshow img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  opacity: 0;
  animation: flipFade 12s infinite ease-in-out;
}

.slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.slideshow img:nth-child(2) {
  animation-delay: 3s;
}
.slideshow img:nth-child(3) {
  animation-delay: 6s;
}
.slideshow img:nth-child(4) {
  animation-delay: 9s;
}

@keyframes flipFade {
  0%   { opacity: 0; transform: rotateY(180deg); }
  8%   { opacity: 1; transform: rotateY(0deg); }
  25%  { opacity: 1; transform: rotateY(0deg); }
  33%  { opacity: 0; transform: rotateY(180deg); }
  100% { opacity: 0; transform: rotateY(180deg); }
}

.animation-wrapper.slide-up {
  animation: slideUp 0.6s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }  
}

/* Keyword Screen */
.keyword-form-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.talking-creature-wrapper {
  width: 370px;
}
.talking-creature-wrapper img {
  width: 100%;
  height: auto;
}

.add-keyword-form {
  position: relative;
  width: 530px;
  margin: 0 auto;
}
.add-keyword-form input {
  padding-right: 90px;
  color: var(--blue);
}
.add-keyword-form button {
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
  height: 90px;
  font-size: 8rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.add-keyword-form button span {
  position: relative;
  top: 6px;
}

.add-keyword-form button:disabled {
  background-color: var(--cream);
  cursor: not-allowed;
  box-shadow: none;
}

.keywords-list {
  margin-block: 20px;
}
.keywords-list .keyword {
  font-size: 1.5rem; /* 24px */ 
  background-color: var(--blue);
  color: var(--cream);
  border-radius: 1000px;
  padding: 5px 40px 5px 15px;
  margin: 5px;
  display: inline-block;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.keywords-list .remove-keyword {
  cursor: pointer;
  font-family: "Kirang Haerang", system-ui;
  font-size: 3rem;
  position: absolute;
  top: -10px;
  right: 15px;
  color: var(--yellow);
}

.button-make-poem {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

/* Thinking Screen */
.thinking-screen .keywords-list .keyword {
  padding: 5px 15px;
}

.thinking-screen .hero {
  width: 250px;
  margin: 20px auto;
}

/* Poem Screen */
.poem-wrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-direction: row;
}

.poem-content {
  text-align: left;
}
.poem-content h1 {
  font-family: "Spectral", sans-serif;
  max-width: 480px;
}
.book-cover {
  background-size: contain;
  background-repeat: no-repeat;
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-image: url(./assets/book-yellow.png);
}
.book-cover.yellow {
  background-image: url(./assets/book-yellow.png);
}
.book-cover.yellow2 {
  background-image: url(./assets/book-yellow-2.png);
}
.book-cover.blue {
  background-image: url(./assets/book-blue.png);
}
.book-cover.blue2 {
  background-image: url(./assets/book-blue-2.png);
}
.book-cover.red {
  background-image: url(./assets/book-red.png);
}
.book-cover.red2 {
  background-image: url(./assets/book-red-2.png);
}
.book-cover.green {
  background-image: url(./assets/book-green.png);
}
.book-cover.green2 {
  background-image: url(./assets/book-green-2.png);
}
.book-cover.empty {
  background-image: url(./assets/book-grey.png);
}


.book-cover span {
  font-size: 6rem;  /* 96px */
  font-weight: 800;
  position: relative;
  bottom: 16px;
  left: 12px;
}

/* Responsive size */
/* .book-cover {
  width: 25vw;
  height: 25vw;
  max-width: 270px;
  max-height: 270px;
}
.book-cover span {
  font-size: 9vw;
  font-size: clamp(4rem, 9vw, 6rem);
  font-weight: 800;
  position: relative;
  bottom: 1.3vw;
  left: 1.7vw;
} */

.button-wrapper {
  display: flex;
  gap: 20px;
  margin-block: 40px;
}

button.love {
  background: var(--yellow) url(./assets/icon-heart.png) no-repeat 15px center;
  background-size: 40px;
  padding: 8px 30px 8px 70px;
}
button.love.saved {
  background-color: transparent;
  border: none;
  cursor: default;
  box-shadow: none;
  transform: none;
}
button.retry {
  background: var(--cream) url(./assets/icon-sad.png) no-repeat 15px center;
  background-size: 40px;
  padding: 8px 30px 8px 70px;
}
button.books {
  background: var(--cream) url(./assets/icon-books-2.png) no-repeat 15px center;
  background-size: 48px;
  padding: 8px 30px 8px 70px;
}
button.edit {
  background: var(--yellow) url(./assets/icon-arrow-left.png) no-repeat 15px center;
  background-size: 44px;
  padding: 8px 30px 8px 70px;
}
button.delete {
  background: var(--cream) url(./assets/icon-trash.png) no-repeat 15px center;
  background-size: 44px;
  padding: 8px 30px 8px 70px;
}

/* Library Screen */

.poems-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

/* Tablet: 2 columns */
@media (min-width: 768px) {
  .poems-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop: 3 and more columns */
@media (min-width: 1024px) {
  .poems-list {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}


.poem-item {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 20px;
}
.poem-item .book-cover {
  width: 160px;
  height: 160px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.poem-item .book-cover:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.3));
}
.poem-item .book-cover span {
  font-size: 4rem; /* 64px */
  position: relative;
  bottom: 10px;
  left: 8px;
}

/* Desktop: 3 and more columns */
@media (min-width: 1024px) {
  .poem-item .book-cover {
    width: 200px;
    height: 200px;
  }
  .poem-item .book-cover span {
    font-size: 5rem; /* 80px */
    bottom: 14px;
    left: 8px;
  }
}

.poem-item .poem-info {
  flex-grow: 1;
  text-align: left;
}
.poem-item .poem-info .title{
  font-weight: 800;
  line-height: 1.1;
}

/* About Screen */
.about-screen p {
  max-width: 800px;
  margin: 0 0 20px 0;
}
.about-screen p strong {
  color: var(--red);
  font-weight: 500;
}

.about-screen .keyword {
  background-color: var(--blue);
  color: var(--cream);
  border-radius: 1000px;
  padding: 0 12px;
  display: inline-block;
  font-style: normal;
}
.about-screen button {
  margin-top: 50px;
}